.tagh3{
    font-size: medium;
    width: 100%;
    margin: 15px;
    box-shadow: 1px 5px 15px midnightblue;
}

.span {
    color: mintcream;
    font-size: 15px;
}

#copyright{
    position: fixed;
    color: mintcream;
    background-color: midnightblue;
    width: 100%;
    bottom: 0;
    line-height: 3;
}

canvas{
    border: 10px;
    border-radius: 25px;
    box-shadow: 1px 5px 15px mediumpurple;
}